OPENAPI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LOCAL_OR_PROD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DOCKER_OR_LAMBDATEST=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
FIREBASE_SERVICE_ACCOUNT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX