REACT_APP_FIREBASE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_AUTH_DOMAIN=XXXXXXXXXXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_PROJECT_ID=XXXXXXXXX
REACT_APP_FIREBASE_STORAGE_BUCKET=XXXXXXXXXXXXXXXXXX
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=XXXXXXXXXXXX
REACT_APP_FIREBASE_APP_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REACT_APP_BACKEND_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX