
.label-container label::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    border-radius: 2px;
    padding: 2px 4px;
    text-align: center;
    white-space: nowrap;
    font-size: 0.8rem;
    z-index: 10;
    /* it inherits the opacity of the parent, but to make sure that this always has the opacity = 1, */
    /* we need to set it explicitly */
    opacity: 1;
  }
  
  .label-container label:hover::after {
    display: block;
  }
  